<html>
 <a href="/pr">  <button style="width:50%;height:100px;background:pink;margin-left:200px;margin-top:300px"> U WILL REDIRECT TO BACK ONLY</button></a>

<a href="/">  <button style="width:50%;height:100px;background:pink;margin-left:300px;margin-top:300px"> back</button></a>
</html>