
<%=counter %>
<form method="post">
    <input type="hidden" name= "previous" value="<%=counter %>">
    <button type="submit" name = "i" value ="i">increase</button>
    <button type="submit" name = "i" value ="j">decrease</button>

</form>


    